services:
  backend:
    build: .
    volumes:
      - ABSOLUTEHOSTPATH:ABSOULUTECONTAINERPATH
    networks:
      - back-tier
    depends_on:
      - db

  db:
    image: postgres:latest
    networks:
      - back-tier
    environment:
      POSTGRES_USER: USER
      POSTGRES_PASSWORD: PASSWORD


networks:
  # The presence of these objects is sufficient to define them
  back-tier: {}